In [1]:
import pandas as pd

In [2]:
# First: Load the csv file into a Pandas dataframe (df)

df = pd.read_csv('results.csv')

In [3]:
# Explore the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45315 entries, 0 to 45314
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        45315 non-null  object
 1   home_team   45315 non-null  object
 2   away_team   45315 non-null  object
 3   home_score  45315 non-null  int64
 4   away_score  45315 non-null  int64
 5   tournament  45315 non-null  object
 6   city        45315 non-null  object
 7   country     45315 non-null  object
 8   neutral     45315 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB

In [4]:
df['home_score'].mean()

1.7393136930376256

# Q1 answer: 1.7393136930376256

In [6]:
df['away_score'].mean()

1.1782412004854905

# Q2 answer: 1.1782412004854905

In [8]:
df.groupby(['country'])['home_score'].sum()

country
Afghanistan      7
Albania        207
Algeria        450
Andorra         35
Angola         257
              ...
Zambia         551
Zanzibar        41
Zaïre          113
Zimbabwe       278
Éire            12
Name: home_score, Length: 268, dtype: int64

In [9]:
highest_home_score = df.groupby(['country'])['home_score'].sum()

In [10]:
highest_home_score.idxmax()

'United States'

In [11]:
highest_home_score['United States']

2056

# Q3 answer: United States with an overall of 2056

In [13]:
df['tournament'].value_counts()

tournament
Friendly                                17773
FIFA World Cup qualification             8016
UEFA Euro qualification                  2815
African Cup of Nations qualification     1998
FIFA World Cup                            964
                                        ...
Copa Confraternidad                         1
FIFA 75th Anniversary Cup                   1
Real Madrid 75th Anniversary Cup            1
Évence Coppée Trophy                        1
The Other Final                             1
Name: count, Length: 147, dtype: int64

# Q4 answer: 1.Friendly 2.FIFA World Cup qualification 3.UEFA Euro qualification

In [15]:
fifa_df = df[df['tournament'] == 'FIFA World Cup']

In [16]:
fifa_df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1311,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True
1312,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True
1313,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True
1314,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True
1315,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True
...,...,...,...,...,...,...,...,...,...
44349,2022-12-10,England,France,1,2,FIFA World Cup,Al Khor,Qatar,True
44351,2022-12-13,Argentina,Croatia,3,0,FIFA World Cup,Lusail,Qatar,True
44352,2022-12-14,France,Morocco,2,0,FIFA World Cup,Al Khor,Qatar,True
44356,2022-12-17,Croatia,Morocco,2,1,FIFA World Cup,Al Rayyan,Qatar,True
44358,2022-12-18,Argentina,France,3,3,FIFA World Cup,Lusail,Qatar,True

In [17]:
fifa_df.loc[:, 'total_score'] = fifa_df['home_score'] + fifa_df['away_score']

C:\Users\mario\AppData\Local\Temp\ipykernel_14008\1698103778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fifa_df.loc[:, 'total_score'] = fifa_df['home_score'] + fifa_df['away_score']

In [18]:
country_scores = fifa_df.groupby('country')['total_score'].sum()

In [19]:
top_country = country_scores.idxmax()

In [20]:
top_score = country_scores.max()

In [21]:
print(top_country)

Brazil

# Q5 answer: The country with the highest overall FIFA Worl Cup goals is Brazil